# Python virtual environment
venv/
ENV/
env/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment files
.env
*.env

# Docker Compose env file (if used)
compose/.env

# OS-specific files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# MyPy and Pylint cache
.mypy_cache/
.pylint.d/

# Coverage reports
htmlcov/
coverage.xml
*.cover
.cache/

# Logs
*.log

# SQLite (if used)
*.sqlite3
*.db

# Local testing
local_settings.py
